body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-image: url("../public/background.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
